[Desktop Entry]
Name=Jagex Launcher
Comment=Runescape
Exec=flatpak run com.jagexlauncher.JagexLauncher
Icon=/home/ben/.local/share/applications/wine/Programs/Jagex/jagexlaunchericon.png
Terminal=false
Type=Application
Categories=Game;
